@{
    ViewData["Title"] = "SUDMARIS";
}

<div class="text-center">
    <h1 class="display-4">Sociedad de Cultivos Crosam Limitada.</h1>
    <img src="https://thumbs.dreamstime.com/b/mejillones-ejemplo-78294835.jpg" alt="" width ="350px" height= "350px" >

</div>
